<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>jQuery UI Tabs - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1"><%=image_tag "air.jpg"%>Flights</a></li>
    <li><a href="#tabs-2"><%=image_tag "car.jpg"%>Car travel</a></li>
    <li><a href="#tabs-3"><%=image_tag "home.jpg"%>Home energy</a></li>
  </ul>
  <div id="tabs-1">
   <p>Enter total distance you've flown this year:</p>
   <form>
     <fieldset>
    	<input type="text" placeholder="1234">
     </fieldset>
   </form>
   <select><option>miles</option><option>km</option></select>
   <br></br>
   <p>Or manually enter the flights you've taken:</p>
   <div class = "container-fluid">
	<div class = "row-fluid">
		<div class = "span2">
			<h4>Origin</h4>
			<br>
			<h4>Destination</h4>
			<br>
			<h4>Flight type</h4>
			<br>
		</div>
		<div class = "span3">
		  <form>
			<fieldset>
    	                  <input type="text" placeholder="EWR">
			</fieldset>
		  </form>
		  <form>
			<fieldset>
    	                  <input type="text" placeholder="SFO">
			</fieldset>
		  </form>
		   <%= check_box_tag(:one_way) %>
		   <%= label_tag(:one_way, "One way") %>
		   <%= check_box_tag(:round_trip) %>
		   <%= label_tag(:round_trip, "Round trip") %>
		</div>
		<div class = "span3">
		  <form>
			<fieldset>
    	                  <input type="text">
			</fieldset>
		  </form>
		  <form>
			<fieldset>
    	                  <input type="text">
			</fieldset>
		  </form>
		   <%= check_box_tag(:one_way) %>
		   <%= label_tag(:one_way, "One way") %>
		   <%= check_box_tag(:round_trip) %>
		   <%= label_tag(:round_trip, "Round trip") %>
		</div>
		<div class = "span3">
		  <form>
			<fieldset>
    	                  <input type="text">
			</fieldset>
		  </form>
		  <form>
			<fieldset>
    	                  <input type="text">
			</fieldset>
		  </form>
		   <%= check_box_tag(:one_way) %>
		   <%= label_tag(:one_way, "One way") %>
		   <%= check_box_tag(:round_trip) %>
		   <%= label_tag(:round_trip, "Round trip") %>
		</div>
	</div>
   </div>
  <p><button class="btn btn-primary" type="button">Add more flights</button></p>
  <a href="#tabs-2" class="btn btn-large btn-primary">Next: car travel</a>
  </div>
  <div id="tabs-2">
   <p>Enter total distance you've driven this year:</p>
   <form>
     <fieldset>
    	<input type="text" placeholder="1234">
     </fieldset>
   </form>
   <select><option>miles</option><option>km</option></select>
   <br></br>
   <p>Enter the fuel economy of your car in miles per gallon (mpg):</p>
   <form>
     <fieldset>
    	<input type="text" placeholder="23">
     </fieldset>
   </form>
   <br></br>
   <p>Or select the type of car you drive:</p>
   <select><option>Sedan</option><option>SUV</option><option>Sports car</option><option>Minivan</option><option>Pickup truck</option><option>Electric vehicle</option><option>Hybrid</option></select>
   <br></br>
    <a href="#tabs-3" class="btn btn-large btn-primary">Next: home energy</a>
 </div>
  <div id="tabs-3">
  <form>
    <fieldset>
	<label>How many people live in your house or apartment?</label>
	<input type="text" placeholder="4">
    </fieldset>
  </form>
  <p>Option 1: Enter specific information about your electric bill:</p>
   <form>
     <fieldset>
	<label>Electricity usage in kilowatt hours</label>
    	<input type="text" placeholder="123">
	<label>Gas usage in therms</label>
	<input type="text" placeholder="1000">
     </fieldset>
   </form>
   <br></br>
   <p>Option 2: Enter general information about the type of home or apartment you live in:</p>
	<%= check_box_tag(:home) %>
	<%= label_tag(:home, "Home") %>
	<%= check_box_tag(:apartment) %>
	<%= label_tag(:apartment, "Apartment") %>
   <br></br> 
   <form>
     <fieldset>
	<label>Number of bedrooms in your home or apartment</label>
    	<input type="text" placeholder="123">
     </fieldset>
   </form>
    <a href="#tabs-3" class="btn btn-large btn-primary">Your carbon footprint</a>
  </div>
</div>
<div>
  <h3>Your carbon footprint is:</h3>
</div>
</body>
</html>
