<div id="container-fluid">
  <div id="row-fluid">
    <div id="span4"><%=image_tag "ca_icon.png"%></div>
    <div id="span8"><p>Retire allowances from California's cap and trade law AB-32.</p></div>
  </div>
  <div id="row-fluid">
    <div id="span4"><%=image_tag "farm_icon.png"%></div>
    <div id="span8"><p>Purchase offsets that encourage low-carbon, sustainable, no-till farming practices.</p></div>
  </div>
  <div id="row-fluid">
    <div id="span4"><%=image_tag "wind_icon.png"%></div>
    <div id="span8"><p>Purchase offsets that will help bring more wind power online.</p></div>
  </div>
  <div id="row-fluid">
    <div id="span4"><%=image_tag "tree_icon.png"%></div>
    <div id="span8"><p>Purchase offsets that will plant trees in the Pacific Northwest forests.</p></div>
  </div>
  <div id="row-fluid">
    <div id="span4"><%=image_tag "earth_icon.png"%></div>
    <div id="span8"><p>Purchase offsets that will purchase cookstoves for use in Bangladesh to improve health and lower carbon and harmful particulate emissions.</p></div>
  </div>
</div>
