<div class="container-fluid">
  <div class = "row-fluid">
    <div class = "span2">
      <%= image_tag "genna-f.jpg"%>
    </div> <!--status photo-->
    <div class = "span10">
      <p>Genna added a flight trip to Los Angeles with 0.4 tons of CO2.</p>
    </div> <!--status -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset2">
      <p><button class="btn btn-small" type="button">Verify</button></p>
    </div> <!--first button -->
    <div class = "span2">
      <p><button class="btn btn-small" type="button">Cap that!</button></p>
    </div> <!--second button -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset1">
      <%= image_tag "sustyj-c.jpg"%>
    </div><!--comment photo -->
    <div class = "span10">
       <input type="text" placeholder="Add a comment…">
    </div><!--comment-->
  </div>
</div> <!--first activity-->
<div class="container-fluid">
  <div class = "row-fluid">
    <div class = "span2">
      <%= image_tag "pun-f.jpg"%>
    </div> <!--status photo-->
    <div class = "span10">
      <p>Puneeth completed his carbon profile.</p>
    </div> <!--status -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset1">
      <%= image_tag "sustyj-c.jpg"%>
    </div><!--comment photo -->
    <div class = "span10">
       <input type="text" placeholder="Add a comment…">
    </div><!--comment-->
  </div>
</div><!-- second activity-->
<div class="container-fluid">
  <div class = "row-fluid">
    <div class = "span2">
      <%= image_tag "linden-f.jpg"%>
    </div> <!--status photo-->
    <div class = "span10">
      <p>Linden purchased offsets for her commuting.</p>
    </div> <!--status -->
  </div>
  <div class = "row-fluid">
    <div class = "span3 offset2">
      <p><button class="btn btn-small" type="button">Carbon love!</button></p>
    </div> <!--first button -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset1">
      <%= image_tag "sustyj-c.jpg"%>
    </div><!--comment photo -->
    <div class = "span10">
       <input type="text" placeholder="Add a comment…">
    </div><!--comment-->
  </div>
</div> <!--third activity -->
<div class="container-fluid">
  <div class = "row-fluid">
    <div class = "span2">
      <%= image_tag "genna-f.jpg"%>
    </div> <!--status photo-->
    <div class = "span10">
      <p>Andrew added his home energy use and a flight to Salt Lake City with 5 tons of CO2.</p>
    </div> <!--status -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset2">
      <p><button class="btn btn-small" type="button">Verify</button></p>
    </div> <!--first button -->
    <div class = "span2">
      <p><button class="btn btn-small" type="button">Cap that!</button></p>
    </div> <!--second button -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset1">
      <%= image_tag "sustyj-c.jpg"%>
    </div><!--comment photo -->
    <div class = "span10">
       <input type="text" placeholder="Add a comment…">
    </div><!--comment-->
  </div>
</div> <!--fourth activity-->
<div class="container-fluid">
  <div class = "row-fluid">
    <div class = "span2">
      <%= image_tag "genna-f.jpg"%>
    </div> <!--status photo-->
    <div class = "span10">
      <p>Tyler purchased offsets for his recent flights to Santiago and Bangkok.</p>
    </div> <!--status -->
  </div>
  <div class = "row-fluid">
    <div class = "span3 offset2">
      <p><button class="btn btn-small" type="button">Carbon love!</button></p>
    </div> <!--first button -->
  </div>
  <div class = "row-fluid">
    <div class = "span2 offset1">
      <%= image_tag "sustyj-c.jpg"%>
    </div><!--comment photo -->
    <div class = "span10">
       <input type="text" placeholder="Add a comment…">
    </div><!--comment-->
  </div>
</div> <!--fifth activity-->

