<div id="tabs"> 
  <ul> 
    <li><a href="#tabs-1">Trips</a><%= image_tag("plane.png", :size=>"25x25") %></li> 
    <li><a href="#tabs-2">Commute</a><%= image_tag("car_icon_short.png", :size=>"30x30") %></li> 
    <li><a href="#tabs-3">Home</a><%= image_tag("house_icon.png", :size=>"25x25") %></li> 
    <li><a href="#tabs-4">Facebook Activity</a><%= image_tag("logo_facebook.png", :size=>"25x25") %></li> 
  </ul> 
  <div id="tabs-1">
    <%=render "shared/trips" %>
  </div><!--tabs-1-->
  <div id="tabs-2">
    <%=render "shared/commute" %>
  </div><!--tabs-2-->
  <div id="tabs-3">
    <%=render "shared/home_energy" %>
  </div><!--tabs-3-->
  <div id="tabs-4">
    <%=render "shared/facebook" %>
  </div><!--tabs-4-->
</div><!--tabs-->
