<div id='carbonbar'>
<div class="span4"><%= image_tag("carbon-cap-logo.png") %></div>
<div class="span2"><%= image_tag("log_icon.png") %>Log</div>
<div class="span2"><%= image_tag("compare_icon.png") %>Compare</div>
<div class="span2"><%= image_tag("compare_icon.png") %>Cap</div>
<div class="span1"><%= image_tag("notifications_icon.png") %></div>
</div>
