<div id="trips">
  <p>This year, you've flown a total of <strong>11,531 miles</strong>, and driven <strong>2,188 miles</strong> on road trips.</p>
  <p>Enter new flights or car trips below.</p>
  <p>Enter a new flight:</p>
  <div class = "container-fluid">
    <div class = "row-fluid">
      <form>
        <div class = "span8">
          <fieldset>
            <label>Origin Airport:</label>
            <input type="text" placeholder="EWR">
            <label>Destination Airport:</label>
            <input type="text" placeholder="SFO">
          </fieldset>
        </div><!--span8-->
        <div class="span4">
            <%= radio_button_tag(:flight_trip_type, "Oneway") %>
            <%= label_tag(:one_way, "One way") %>
            <%= radio_button_tag(:flight_trip_type, "Roundtrip") %>
            <%= label_tag(:round_trip, "Round trip") %>
            <%= submit_tag("Submit this flight") %>
        </div><!--span4"-->
      </div><!--row-fluid-->
    </form>
    <p>Take a recent road trip? Enter it below. For multi-stage trips, just enter one leg at a time.</p>
    <form>
      <label>Origin city:</label>
      <input type='text' placeholder="Portland, OR">
      <label>Destination city:</label>
      <input type='text' placeholder="Glacier National Park, MT">
      <%= submit_tag("Submit this road trip") %>
    </form>
  </div><!--container-fluid-->
</div><!--trips-->
