<!DOCTYPE html>
<html>
<head>
  <title>Mycarboncap</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="MyCarbonCap" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.mycarboncap.co" />
  <meta property="og:image" content="http://sustainablejohn.com/wp-content/uploads/2013/02/carboncap.jpg" />
  <meta property="og:site_name" content="My Carbon Cap" />
  <meta property="fb:admins" content="679154812" />
</head>
<body class="container <%= @background_css %>">
  <%= render 'shared/navbar' unless @you_are_on_landing_page %>
  <%= yield %>
</body>
</html>
