<!DOCTYPE html>
<html>
<head>
  <title>Mycarboncap</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="container <%= @background_css %>">
  <%= render 'shared/navbar' unless @you_are_on_landing_page %>
  <%= yield %>
</body>
</html>
