<!DOCTYPE html>
<html>
<head>
  <title>Mycarboncap</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--TODO: make these into Rails tags; -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <!--TODO: put this in a separate js file-->
  <script>
    $(function() {
      $( "#tabs" ).tabs();
    });
  </script>
</head>
<body class="container <%= @background_css %>">
  <div id="topbar">
    <%= render 'shared/navbar' unless @you_are_on_landing_page %>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4"><!--left column -->
        <div id="top-left-content">
          <%= yield :top_left_content %>
        </div>
        <div id="bottom_left_content">
          <%= yield :bottom_left_content %>
        </div>
      </div><!--left column-->
      <div class="span8" id="main_content"><!--main column -->
        <%= yield :main_content %>
      </div><!--main column-->
    </div><!--row-fluid-->
  </div><!--container-fluid-->
  <!-- Now yield anything left over, e.g. landing page stuff-->
  <%= yield %>
</body>
</html>
